@model Village

@foreach (var field in Model.VillageFields)
{
    <h2>@field.ResourceField.Name</h2>
    <a asp-action="Detail" asp-route-villageId="@Model.Id" asp-route-resourceFieldId="@field.ResourceFieldId">Detail</a>
}